/* style.css */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  padding: 0 1rem;
  font-family: 'Urbanist', sans-serif;
  background-image: url('./assets/bg.webp');
  background-color: #1a1a1a;
  background-size: cover;
  display: grid;
  place-items: center;
  justify-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

h3 {
  font-size: 1.5rem;
  color: #ffffff;
}

h4 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.subtitle {
  margin: 1rem 0;
  font-size: 1.15rem;
  font-weight: 400;
  text-align: center;
  text-wrap: pretty;
  color: #d8d8d8;
}

.subtitle > a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.subtitle > a:hover {
  text-decoration: underline;
  color: #ffffff;
}

#map {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 0.75rem;
}

.leaflet-marker-icon {
  pointer-events: none;
  cursor: inherit;
}

.panel {
  width: 100%;
  border-top: #2f2f2f 1px solid;
  padding: 1rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  background-color: #1d1d1dc0;
  backdrop-filter: blur(4px);
}

.info,
.options {
  width: 100%;
}

.topics,
.map-options,
.unit-options {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.topics {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: #ffffff;
  font: monospace;
  list-style-type: none;
}

.topic {
  font-weight: 600;
}

span {
  font-weight: normal;
  font-family: monospace;
  color: #d8d8d8;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

button {
  width: max-content;
  border: none;
  border-radius: 0.25em;
  padding: 0.35em 0;
  width: 5.5rem;
  font-family: inherit;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  background-color: #374f70;
  transition: background-color 150ms, color 150ms;
}

button:hover {
  color: #ffffff;
  background-color: #628cc5;
}

.active {
  color: #ffffff;
  background-color: #628cc5;
  transition: background-color 150ms;
}

/* Media queries */
@media (min-width: 1024px) {
  .title {
    font-size: 4rem;
  }

  .subtitle {
    margin: 1rem 0;
    font-size: 1.25rem;
  }

  .panel {
    flex-direction: row;
    gap: 0;
  }

  .button {
    width: 5.05rem;
  }

  #iss-map {
    aspect-ratio: 16/10;
  }
}

@media (min-width: 1536px) {
  .content-wrapper {
    gap: 1.5rem;
  }

  .title {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .coordinates-wrapper > p,
  .buttons-wrapper > p {
    font-size: 1.5rem;
  }

  .coordinates {
    font-size: 1.25rem;
  }

  .button {
    width: 5.5rem;
  }
}
